.container{
  padding : 3rem  0; 
  width : 80vw;    
  margin : auto;
}

@media screen and(min-width: 768px){
  .container{
    width : 600px;
  }
}

@media screen and(min-width: 992px){
  .container{
    width : 80% ; 
    max-width : 1200px;
  }
}

.p2{
  padding : 1rem;
}

.mr-2{
  margin-right:1rem;
}